body{
    background-color: rgb(61, 61, 61);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Title{
    margin-bottom: 3rem;
    font-size: 30pt;
}
.Leveldiv{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.Leveldiv input{
    margin-left: 0.4rem;
}
.startForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.startFormElt{
    margin-bottom: 1rem;
}

.tower{
    display: block;
    position: fixed;
    width: 0.4rem;
    background-color: white;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    cursor: pointer;
}
#firstTower{
    left: calc(25% - 0.2rem);
}
#secondTower{
    left: calc(50% - 0.2rem);
}
#thirdTower{
    left: calc(75% - 0.2rem);
}

.Block{
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: white;
}

#endTitle{
    font-size: 50pt;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
#endButton{
    text-align: center;
    width: 100%;
}
#endCounterContent{
    width: 100%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 3rem;
}


.noreveal{
    display: none;
}